<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
    <style>
    	body{
    		background-color : skyblue;
    	}
    	div{
    		margin-top : 100px;
    	}
    	h1{
    		text-align : center;
    		font-size : 120px;
    	}
    	h2{ font-size : 100px; }
    	a{
    		text-decoration : none;
    	}
    </style>
<title>Home</title>
</head>
<body>
	<div>
		<h1>Car Rental Mangement</h1>
			<tr>
                <div align="center">
                    <h2><a th:href="@{'/getCars'}">Go....</a></h2>
                </div>
            </tr>
	</div>
</body>
</html>